.aboutus {
  padding-top: 100px;
  padding-bottom: 70px;
}

.aboutus__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutus__title {
  max-width: 844px;
  margin-bottom: 85px;

}