.aboutus {
  padding-top: 88px;
  padding-bottom: 70px;
}

.aboutus__wrapper {
  margin-left: auto;
  margin-right: auto;
  width: calc(1320 / 1560 * 100%);
}

.aboutus__title {
  max-width: 844px;
  margin-bottom: 85px;
  text-align: center;
}
