.burger {
  position: relative;
  width: 42px;
  height: 28px;
  display: none;
  cursor: pointer;
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 4px;
  transform: translateY(-50%);
  background-color: var(--pink);
  border-radius: 4px;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  transform: translateY(-50%);
  background-color: var(--pink);
  border-radius: 4px;
}

.burger::before {
  top: 0;
  left: 0;
}

.burger::after {
  right: 0;
  bottom: 0;
  width: 32px;
}

@media (max-width: 1024px) {

  .burger {
    display: block;
  }

}