.card-detail {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 1320px;
  width: 100%;
  min-height: 470px;
  background-repeat: no-repeat;
  background-size: 456px 469px;
  background-position: left;
}

.card-detail_img {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 474px 474px;
  background-position: right;
}

.card-detail__content {
  width: calc(750 / 1530 * 100%);
  min-height: 240px;
}

.card-detail__content-text {
  margin-bottom: 15px;
}