.card__detail {
  max-width: 1320px;
  width: 100%;
  padding-top: 114px;
  padding-right: 34px;
  padding-bottom: 115px;
  padding-left: 37%;
  background-repeat: no-repeat;
}

.card__marriage {
  max-width: 1320px;
  width: 100%;
  padding-top: 105px;
  padding-right: 38%;
  padding-bottom: 109px;
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: right;
}

.card__span {
  display: inline-block;
  margin-top: 15px;
}