.card-detail {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 1286px;
  width: 100%;
  min-height: 469px;
  padding: 114px 90px 117px 482px;
  background-repeat: no-repeat;
  background-size: 456px 469px;
  background-position: -53px top;
}

.card-marriage {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 1304px;
  width: 100%;
  min-height: 474px;
  padding: 103px 554px 109px 0;
  background-repeat: no-repeat;
  background-size: 474px 474px;
  background-position: 799px top;
}

.card-detail__content {
  min-height: 240px;
}

.card-marriage__content-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 255px;
}