html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-width: var(--body-min-width);
  font-family: "Lato", sans-serif;
  font-size: var(--dafault-fs);
  line-height: var(--default-lh);
  color: var(--gray);
  background-color: var(--white);
}

.container-wrapper {
  max-width: var(--container-wrapper-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-wrapper-padding);
  padding-right: var(--container-wrapper-padding);
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  background-color: var(--white);
}

.container-aboutus {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding-left: 278px;
  padding-right: 180px;
  background-color: var(--white);
}

.reset-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.section-title {
  margin: 0;
  font-weight: var(--bold);
  font-size: 48px;
  line-height: 64px;
  color: var(--black);
}

.text {
  margin: 0;
  font-weight: var(--regular);
  font-size: 25px;
  line-height: 160%;
  color: var(--black)
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}