html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: var(--Lato), Arial, sans-serif;
  font-size: var(--dafault-fs);
  line-height: var(--default-lh);
  color: var(--gray);
  background-color: var(--white);
}

.container {
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.reset-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.text {
  margin-top: 0;
}