html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: var(--Lato), Arial, sans-serif;
  font-size: var(--dafault-fs);
  line-height: var(--default-lh);
  color: var(--gray);
}
.content {
  font-weight: 400;
}
