.header {
  padding-top: 32px;
  padding-bottom: 33px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__logo {
  position: relative;
  flex-shrink: 0;
  align-items: center;
  display: inline-block;
  width: 241px;
  height: 58px;
  margin-right: 46px;
}

.header__logo::before {
  content: "";
  position: absolute;
  bottom: -10px;
  right: -23px;
  height: 80px;
  border-left: 1px solid var(--black);
}


.header__text {
  max-width: 186px;
  min-height: 54px;
  margin-right: 54px;
  font-weight: var(--regular);
  font-size: 14px;
  line-height: 18px;
  color: var(--darkgray);
}

.header__select {
  height: 36px;
  font-weight: var(--regular);
  font-size: 24px;
  line-height: 36px;
  color: var(--black);
}

.header__select_choices {
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__select_choices::-ms-expan {
  display: none;
}

.header__select-choices {
  position: relative;
  padding-right: 21px;
  margin-right: 55px;
}


.header__select-choices::after {
  content: url('../img/arrow-up.svg');
  position: absolute;
  top: 20%;
  right: -8px;
  display: block;
  height: 12px;
  width: 13px;
  transform: translateY(-50%);
  pointer-events: none;
}

.header__link {
  display: inline-block;
  font-weight: var(--regular);
  font-size: 24px;
  line-height: 35px;
  color: var(--black);
}

.header__right {
  display: flex;
  align-items: center;
}

.header__address {
  position: relative;
  font-display: inline-block;
  margin-right: 91px;
  padding-left: 44px;
}

.header__address::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 7px;
  width: 24px;
  height: 24px;
  background-image: url('../img/telephone.svg');
  background-repeat: no-repeat;
}

.header__contacts {
  font-style: normal;
  font-weight: var(--regular);
  font-size: 24px;
  line-height: 35px;
  color: var(--black);
}

.header__btn {
  position: relative;
  max-width: 169px;
  min-height: 45px;
  padding: 0 38px 4px 74px;
  color: var(--white);
  background-color: #CF51CE;
  border-radius: 12px;
  cursor: pointer;
}

.header__btn::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 32px;
  width: 23px;
  height: 23px;
  background-image: url('../img/Icon-arrow.svg');
  background-repeat: no-repeat;
}