.header {
  padding-top: 21px;
  padding-bottom: 50px;
  background-color: var(--white);
}

.header__container {
  display: flex;
  justify-content: space-between;
  /* width: calc(1530 / 1768 * 100%); */
  min-height: 80px;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
}

.header__left {
  margin-right: 212px;
}


.header__logo {
  align-items: center;
  display: inline-block;
  width: 241px;
  height: 58px;
  margin-right: 44px;
}


.header__text {
  max-width: 204px;
  min-height: 54px;
  margin-right: 31px;
  font-weight: var(--regular);
  font-size: 14px;
  line-height: 18px;
  color: var(--darkgray);
}

.header__select {
  /* position: relative; */
  height: 36px;
  margin-right: 50px;
  border: none;
  border-style: none;
  font-weight: var(--regular);
  font-size: 24px;
  line-height: 36px;
  color: var(--black)
}

/* .header__select_choices::after {
  content: "";
  position: absolute;
  left: 10px;
  height: 1px;
  width: 1px;
  border-style: solid;
  border-color: #333 transparent transparent;
  border-width: 5px;
  position: absolute;
  right: 11.5px;
  top: 50%;
  margin-top: -2.5px;
  pointer-events: none
} */


.header__link {
  display: inline-block;
  font-weight: var(--regular);
  font-size: 24px;
  line-height: 35px;
  color: var(--black);
}

.header__address {
  margin-right: 91px;
}

.header__contacts {
  font-style: normal;
  font-weight: var(--regular);
  font-size: 24px;
  line-height: 35px;
  color: var(--black);
}

.header__btn {
  position: relative;
  max-width: 169px;
  min-height: 45px;
  padding: 4px 32px 5px 69px;
  color: var(--white);
  background-color: #CF51CE;
  border-radius: 12px;
  cursor: pointer;
}

.header__btn::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 32px;
  bottom: 0;
  right: 0;
  width: 23px;
  height: 23px;
  background-image: url('../img/Icon-arrow.svg');
  background-repeat: no-repeat;
}