.header {
  padding-top: 21px;
  padding-bottom: 50px;
  background-color: var(--white);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 22px;
}

.header__abbreviation {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 31px;
  padding-top: 1px;
  padding-bottom: 11px;
  padding-left: 3px;
}

.header__abbreviation::before {
  content: "";
  position: absolute;
  left: 56%;
  height: 80px;
  border-left: 1px solid var(--black);
}

.header__logo {
  flex-shrink: 0;
  align-items: center;
  display: inline-block;
  width: 241px;
  height: 58px;
  margin-right: 44px;
}


.header__text {
  max-width: 204px;
  min-height: 54px;
  font-weight: var(--regular);
  font-size: 14px;
  line-height: 18px;
  color: var(--darkgray);
}

.header__select {
  height: 36px;
  font-weight: var(--regular);
  font-size: 24px;
  line-height: 36px;
  color: var(--black);
}

.header__select_choices {
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__select_choices::-ms-expan {
  display: none;
}

.header__select-choices {
  position: relative;
  padding-right: 20px;
  margin-right: 50px;
}


.header__select-choices::after {
  content: url('../img/arrow-up.svg');
  position: absolute;
  top: 25%;
  right: -4px;
  display: block;
  height: 12px;
  width: 13px;
  transform: translateY(-50%);
  pointer-events: none;
}


.header__link {
  display: inline-block;
  margin-right: 212px;
  font-weight: var(--regular);
  font-size: 24px;
  line-height: 35px;
  color: var(--black);
}


.header__contacts {
  font-style: normal;
  font-weight: var(--regular);
  font-size: 24px;
  line-height: 35px;
  color: var(--black);
}

.header__address {
  position: relative;
  margin-right: 91px;
  padding-left: 44px;
}

.header__address::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 2px;
  width: 24px;
  height: 24px;
  background-image: url('../img/telephone.svg');
  background-repeat: no-repeat;
}

.header__btn {
  position: relative;
  max-width: 169px;
  min-height: 45px;
  padding: 0 37px 4px 73px;
  color: var(--white);
  background-color: #CF51CE;
  border-radius: 12px;
  cursor: pointer;
}

.header__btn::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 32px;
  width: 23px;
  height: 23px;
  background-image: url('../img/Icon-arrow.svg');
  background-repeat: no-repeat;
}