.header {
  padding-top: 32px;
  padding-bottom: 33px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__logo {
  position: relative;
  flex-shrink: 0;
  align-items: center;
  display: inline-block;
  width: 241px;
  min-height: 58px;
  margin-right: 46px;
}

.header__logo::before {
  content: "";
  position: absolute;
  bottom: -10px;
  right: -23px;
  height: 80px;
  border-left: 1px solid var(--black);
}


.header__text {
  max-width: 186px;
  min-height: 54px;
  margin-right: 54px;
  font-weight: var(--regular);
  font-size: 14px;
  line-height: 18px;
  color: var(--darkgray);
}

.header__select {
  height: 36px;
  font-weight: var(--regular);
  font-size: 24px;
  line-height: 36px;
  color: var(--black);
}

.header__select_choices {
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__select_choices::-ms-expan {
  display: none;
}

.header__select-choices {
  position: relative;
  padding-right: 21px;
  margin-right: 55px;
}


.header__select-choices::after {
  content: url('../img/arrow-up.svg');
  position: absolute;
  top: 20%;
  right: -8px;
  display: block;
  height: 12px;
  width: 13px;
  transform: translateY(-50%);
  pointer-events: none;
}

.header__link {
  display: inline-block;
  font-weight: var(--regular);
  font-size: 24px;
  line-height: 35px;
  color: var(--black);
}

.header__right {
  display: flex;
  align-items: center;
}

.header__address {
  position: relative;
  margin-right: 91px;
  padding-left: 44px;
}

.header__address::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 7px;
  width: 24px;
  height: 24px;
  background-image: url('../img/telephone.svg');
  background-repeat: no-repeat;
}

.header__contacts {
  font-style: normal;
  font-weight: var(--regular);
  font-size: 24px;
  line-height: 35px;
  color: var(--black);
}

.header__btn {
  position: relative;
  max-width: 169px;
  min-height: 45px;
  padding: 0 38px 4px 74px;
  font-weight: var(--medium);
  font-size: 18px;
  line-height: 35px;
  color: var(--white);
  background-color: #CF51CE;
  border-radius: 12px;
  cursor: pointer;
}

.header__btn::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 32px;
  width: 23px;
  height: 23px;
  background-image: url('../img/Icon-arrow.svg');
  background-repeat: no-repeat;
}

@media (max-width: 1536px) {

  .container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .header__wrapper {
    align-items: center;
  }


  .header__logo {
    display: flex;
    align-items: center;
    width: 187px;
    height: 44px;
    margin-right: 34px;
  }

  .header__logo::before {
    bottom: -4px;
    right: -16px;
    height: 62px;
  }

  .header__text {
    max-width: 133px;
    min-height: 45px;
    margin-right: 54px;
    font-size: 10px;
    line-height: 14px;
    text-align: left;
  }

  .header__contacts,
  .header__link,
  .header__select {
    font-size: 18px;
  }

  .header__select-choices {
    margin-right: 45px;
  }

  .header__select-choices::after {
    top: 10%;
    right: -6px;
    height: 7px;
  }

  .header__address {
    margin-right: 95px;
  }

  .header__address::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 18px;
    width: 16px;
    height: 16px;
    background-image: url('../img/telephone@1280.svg');
  }


  .header__btn {
    position: relative;
    min-width: 152px;
    min-height: 44px;
    padding: 4px 34px 4px 30px;
    font-size: 18px;
    text-align: right;
  }

  .header__btn::before {
    width: 20px;
    height: 20px;
    background-image: url('../img/Icon-arrow@1280.svg');
  }
}

@media (max-width: 1280px) {

  .header__text,
  .header__select-choices,
  .header__address {
    margin-right: 17px;
  }
}

@media (max-width: 1024px) {

  .header {
    padding-top: 37px;
    padding-bottom: 15px;
  }

  .container {
    padding-left: 21px;
    padding-right: 15px;
  }

  .header__link,
  .header__select-choices,
  .header__address {
    display: none;
  }

  .header__logo {
    width: 179px;
    height: 40px;
  }

  .header__btn {
    padding: 4px 26px 4px 31px;
    font-size: 20px;
  }



}