.hero {
  padding-top: 36px;
  padding-bottom: 30px;
}

.hero__nav {
  display: inline-block;
  margin-bottom: 15px;
}

.hero__wrapper {
  display: flex;
}

.hero__title {
  margin: 0;
  margin-bottom: 22px;
  font-weight: var(--bold);
  font-size: 56px;
  line-height: 80px;
  color: var(--black);
}

.hero__title-color {
  color: var(--pink);
}

.hero__money {
  padding-left: 76px;
  margin-bottom: 12px;
  background-image: url('../img/money.svg');
  background-repeat: no-repeat;
  background-position: left top;
}

.hero__from {
  font-weight: var(--semibold);
  font-size: 30px;
  line-height: 29px;
  color: var(--lightgray)
}

.hero__currency {
  font-weight: var(--regular);
  font-size: 30px;
  line-height: 29px;
  color: var(--lightgray);
}

.hero__money-price {
  font-weight: var(--bold);
  font-size: 38px;
  line-height: 55px;
  color: var(--pink);
}


.hero__content {
  width: calc(868 / 1530 * 100%);
  margin-right: 72px;
}


.hero__text {
  max-width: 847px;
  margin-top: 0;
  font-weight: var(--regular);
  font-size: 25px;
  line-height: 160%;
}

.hero__text:not(:last-child) {
  margin-bottom: 13px;
}

.hero__img-wrap {
  position: relative;
  width: 560px;
  height: 560px;
  background-image: url('../img/Superman.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero__img-wrap::after {
  content: "";
  position: absolute;
  top: 40px;
  left: -25px;
  width: 620px;
  height: 563px;
  background-image: url(../img/bigstars.svg);
  background-color: transparent;
}