.hero {
  padding-top: 30px;
  padding-bottom: 30px;
}

.hero__nav {
  display: inline-block;
  margin-bottom: 15px;
}

.hero__wrapper {
  display: flex;
}

.hero__title {
  margin: 0;
  margin-bottom: 22px;
  font-weight: var(--bold);
  font-size: 56px;
  line-height: 80px;
  color: var(--black);
}

.hero__title-color {
  color: var(--pink);
}

.hero__money {
  padding-left: 76px;
  margin-bottom: 12px;
  background-image: url('../img/money.svg');
  background-repeat: no-repeat;
  background-position: left top;
}

.hero__from {
  font-weight: var(--semibold);
  font-size: 30px;
  line-height: 29px;
  color: var(--lightgray)
}

.hero__currency {
  font-weight: var(--regular);
  font-size: 30px;
  line-height: 29px;
  color: var(--lightgray);
}

.hero__money-price {
  font-weight: var(--bold);
  font-size: 38px;
  line-height: 55px;
  color: var(--pink);
}


.hero__content {
  width: calc(868 / 1530 * 100%);
  margin-right: 72px;
}


.hero__text {
  max-width: 867px;
  margin-top: 0;
  font-weight: var(--regular);
  font-size: 25px;
  line-height: 160%;
  word-spacing: 3px;
}

.hero__text:not(:last-child) {
  margin-bottom: 13px;
}

.hero__img-wrap {
  position: relative;
  width: 560px;
  height: 560px;
  background-image: url('../img/Superman.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero__img-wrap::after {
  content: "";
  position: absolute;
  top: 40px;
  left: -25px;
  width: 620px;
  height: 563px;
  background-image: url(../img/bigstars.svg);
  background-color: transparent;
}

@media (max-width: 1536px) {

  .hero {
    padding-top: 25px;
    padding-bottom: 30px;
  }

  .hero__content {
    width: calc(711 / 1200 * 100%);
    margin-right: 54px;
  }

  .hero__title {
    margin-bottom: 40px;
    font-size: 46px;
    line-height: 65px;
  }

  .hero__money {
    margin-bottom: 37px;
    padding-left: 71px;
    font-size: 20px;
    line-height: 29px;
  }

  .hero__money-price {
    margin-right: 6px;
  }

  .hero__text {
    max-width: 711px;
    font-size: 20px;
    word-spacing: 2px;
  }

  .hero__text:not(:last-child) {
    margin-bottom: 15px;
  }

  .hero__img-wrap {
    max-width: 435px;
    height: 435px;
    background-image: url('../img/Superman@1280.svg');
  }

  .hero__img-wrap::after {
    max-width: 458px;
    height: 416px;
    background-image: url(../img/bigstars@1280.svg);
  }

}

@media (max-width: 1024px) {

  .hero {
    padding-top: 28px;
    padding-bottom: 30px;
  }

  .container {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }

  .hero__content {
    position: relative;
    width: 100%;
    margin-right: 0;
  }

  .hero__content::after {
    content: '';
    position: absolute;
    top: 141px;
    right: -184px;
    width: 50%;
    height: 410px;
    background-image: url('../img/Superman@768.svg');
    background-repeat: no-repeat;
  }

  .hero__title {
    margin-bottom: 18px;
  }

  .hero__money {
    margin-bottom: 13px;
    font-size: 18px;
    line-height: 25px;
  }

  .hero__text {
    max-width: 482px;
    word-spacing: 2px;
  }

  .hero__img-wrap {
    display: none;
  }

  .hero__img-wrap::after {
    display: none;
  }

}

@media (max-width: 601px) {

  .hero {
    padding-top: 12px;
    padding-bottom: 40px;
  }

  .hero__content::after {
    top: -48px;
    right: -43px;
    width: 50%;
    height: 245px;
    background-image: url('../img/Superman@360.svg');
  }

  .hero__nav {
    margin-bottom: 44px;
  }

  .hero__title {
    max-width: 202px;
    margin-bottom: 24px;
    font-size: 26px;
    line-height: 39px;
  }

  .hero__money {
    margin-bottom: 12px;
    padding-left: 74px;
  }

  .hero__text {
    max-width: 330px;
    padding-left: 2px;
    font-size: 18px;
    word-spacing: 1px;
  }

  .hero__text:not(:last-child) {
    margin-bottom: 11px;
  }

}