.nav {
  max-width: 164px;
  width: 100%;
  min-height: 19px;
}

.nav__link {
  font-weight: var(--regular);
  font-size: 16px;
  line-height: 19px;
  color: var(--lightgray);
}

.nav__span {
  width: 10px;
  height: 1px;
  color: var(--lightgray);
}