.nav {
  max-width: 164px;
  width: 100%;
  min-height: 19px;
  text-align: center;
  word-spacing: 3px;
}

.nav__link {
  font-weight: var(--regular);
  font-size: 16px;
  line-height: 19px;
  color: var(--lightgray);
}

.nav__span {
  width: 10px;
  height: 1px;
  color: var(--lightgray);
}

@media (max-width: 1536px) {

  .nav {
    max-width: 156px;
  }

}

@media (max-width: 1024px) {

  .nav {
    max-width: 170px;
  }

}