.tabs {
  display: flex;
  justify-content: space-between;
  width: calc(1529 / 1530 * 100%);
}

.tabs__item {
  width: calc(290 / 1529 * 100%);
  min-height: calc(268 / 368 * 100%);
  padding-top: 100px;

}

.tabs__item_icon {
  min-height: 368px;
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: -13px 20px;
}

.tabs__title {
  margin: 0;
  margin-bottom: 15px;
}

.tabs__text {
  margin: 0;
  font-weight: var(--regular);
  font-size: 18px;
  line-height: 160%;
}