.tabs {
  display: flex;
  justify-content: space-between;
  width: calc(1529 / 1530 * 100%);
}

.tabs__item {
  width: calc(290 / 1529 * 100%);
  padding-top: 100px;

}

.tabs__item_icon {
  background-repeat: no-repeat;
  background-position: -20px -25px;
}

.tabs__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: var(--semibold);
  font-size: 24px;
  line-height: 150%;
  color: var(--black);
}

.tabs__text {
  margin: 0;
  font-weight: var(--regular);
  font-size: 18px;
  line-height: 160%;
}