:root {
  /* Шрифты */

  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;

  --dafault-fs: 20px;
  --default-lh: 32px;

  /* Цвета */
  --gray: #331A2FCC;
  --darkgray: #331A2FE5;
  --black: #331A2F;
  --lightgray: rgba(51, 26, 47, 0.5);
  --pink: #CF51CE;
  --white: #FFFFFF;


  /* container-wrapper */
  /* --container-wrapper-max-width: 1920px;
  --container-wrapper-padding: 76px; */


  /* Container */
  --container-max-width: 1610px;
  --container-padding: 40px;


  /* Transition */
  --short: .3s;
}