@import url('_fonts.css');
@import url('_variables.css');
@import url('_global.css');
@import url('_container-wrapper.css');
@import url('_header.css');
@import url('_hero.css');
@import url('_aboutus.css');
@import url('_card-detail.css');
@import url('_education.css');
@import url('_tabs.css');